<?xml version="1.0" encoding="utf-8" ?>
<!--Supports two cultures: en-US and ru-RU-->
<listenerSection culture="ru-RU">
  <observableFolders>
    <folder path="..\..\..\..\ObservableFolder" />
  </observableFolders>
  <rules>
    <rule filePathTemplate="default"
          movingDestinationFolder="..\..\..\..\ObservableFolder\Default"/>
    <rule filePathTemplate=".+\.txt"
          movingDestinationFolder="..\..\..\..\ObservableFolder\TxtFiles"
          addIndexNumber="false"
          addMovingDate="true"/>
    <rule filePathTemplate=".+\.json"
          movingDestinationFolder="..\..\..\..\ObservableFolder\JsonFiles"
          addIndexNumber="true"
          addMovingDate="false"/>
  </rules>
</listenerSection>